
#casSettings fieldset{
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    margin-bottom: 10px;
}

#casSettings input[type="text"] {
    width: 15em;
    margin-left: 3px;
}

#casSettings label {
    display: inline-block;
    width: 31em;
}

#casSettings label.checkbox {
    display: inline;
    width: auto;
}
